*
{
    text-align: center;
    color: aqua;
}

div
{
    display: inline-block;
}

div > h1
{
    display: inline-block;
}


h1
{
    color:blue;
}

.pic
{
    height: 200px;
    width: 200px;
}

.before
{
    color: black;
}

#logo
{
    height: 100px;
    width: 100px;
}

div > footer
{
    height:200px;
    width: 100%;
    background-color: salmon;
    clear: both;
    align-content: center;
}

.endnote
{
    height:200px;
    width: 100%;
    background-color: salmon;
    clear: both;
    align-content: center;
}

div > soft
{
    float:left;
}

